@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;1,100&display=swap');

.con {
    position: absolute;
    display: none;
}

body {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
    color: #fefdff;

    text-rendering: optimizeLegibility;
    width: 100vw;
    overflow-x: hidden;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    margin: 1.5rem;
}

button {
    border: none;
    background-color: black;
    color: #c594f7;
    text-shadow: 0px 0px 10px #c594f7;
    font-size: 2rem;
}
ol
{
    color :none;
}
li
{
    color: aqua;
    font-size: 1.5rem;
    text-shadow: 0px 0px 10px rgba(171, 252, 248, 0.836);
}
h3{
    font-size: larger;
}
input 
{
    background-color: #fefdff;
}
.Rating
{
    color: rgb(250, 199, 133);
    text-shadow: 0px 0px 10px  rgba(245, 207, 157, 0.822) ;
    font-weight: bold;

}
.review
{
    color:#f494f7;
    text-shadow: 0px 0px 10px  #fcb0ffea;
    font-weight: bold;

}