//- Electives: // List of electives
    
//-     A general description about the course regarding prerequisites

//-     If the course has been taken by multiple profs, then it will be different
    
//-     Sort By:
//-     1. Year
//-     2. Course(which programme is it for)

//-     Rating is displayed on the basis of professor chosen and then the sub part. If nothing selected then it is based on all parameters.
    
//-     Also comments might be given 
    
//-     Comments might be organised by rater themselves as helpful / rant / 

//-     More detailing like specific rating about the exams and lectures.etc might be given

<html>
    <head>
     <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title> AVAILABILITY OF FACILITIES </title>
        style 
            include ../css/electives.css
    </head>
    










