<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title> COURSES REVIEW </title>
    <link rel="stylesheet" href="../css/courses.css">
    <script src="../js/electives.js" defer></script>
</head>

<body>
    <br>
    <label for="Year">Choose Year</label>
    <select name="Year" id="Year" onchange="Year(this)" onload="Year(this)">
        <option value="1">First Year</option>
        <option value="2">Second Year</option>
        <option value="3">Third Year</option>
        <option value="4">Fourth Year</option>
        <option value="5">Fifth Year</option>
    </select>

    <br>
    <br>

    <label for="Semester">Choose Semester</label>
    <select name="Semester" id="Semester" onchange="Semester(this)" onload="Semester(this)" >
        <option value="1">Spring</option>
        <option value="2">Monsoon</option>
    </select>

    <br>
    <br>

    <label for="Programme">Choose Programme</label>
    <select name="Programme" id="Programme" onchange="Programme(this)" onload="Programme(this)">
        <option value="1">CSE</option>
        <option value="2">CSD</option>
        <option value="3">CLD</option>
        <option value="4">CND</option>
        <option value="5">CHD</option>
        <option value="6">ECE</option>
        <option value="7">ECD</option>
    </select>
    <button id="btn">Submit</button>

    <br>
    <br>

    <p1>The courses with following parameters are:</p1>
    <ol id="list">
    </ol>
</body>

</html>










