<html> 
    <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title> Food Review </title>
        style 
            include ../css/food.css
    </head>
    <body>
    <label for="Canteens/Mess" id="label">Choose a Canteen or a Mess:</label>
    <select name="Canteen/Mess" id="Canteens/Mess">
    <option value ="V.C.">Vindhya Canteen</option>
    <option value = "J.C">Juice Canteen</option>
    <option value= "B.B.C">Basketball Cantenn</option>
    <option value="Tantra_Canteen">Tantra Canteen</option>
    <option value="N.M.">North Mess</option>
    <option value="S.M.">South Mess</option>
    <option value="K.M.">Kadamb Mess</option>
    <option value="Y.M.">Yuktahar Mess</option>

    <div class="V.C.">
        <h2>Following are the list of top 5 items in V.C. Vote for your favorite item</h2>
        <ol>
          <li> Double Chocolate Shake </li>
          <li> Egg Omelete </li>
          <li> Chicken Burger</li>
          <li> Cheese Potato</li>
          <li> Iced Tea</li>
        </ol>
    </div>

    <div class="J.C.">
        <h2>Following are the list of top 5 items in J.C. Vote for your favorite item</h2>
        <ol>
          <li> Oreo Chocolate Coffee </li>
          <li> Lemon Soda </li>
          <li> Watermelon Shake </li>
          <li> Avocado with Honey </li>
          <li> Banana Horlicks </li>
        </ol>
    </div>

    <div class="B.B.C.">
        <h2>Following are the list of top 5 items in B.B.C. Vote for your favorite item</h2>
        <ol>
          <li> Mango Shake </li>
          <li> Masala Dosa </li>
          <li> Paneer Dosa </li>
          <li> Extra Masala Maggi </li>
          <li> Cheese Maggi </li>
        </ol>
    </div>

    <div class="Tantra_Canteen">
        <h2>Following are the list of top 5 items in Tantra Canteen. Vote for your favorite item</h2>
        <ol>
          <li> Blueberry Goli Soda </li>
          <li> Chicken Garlic Noodles </li>
          <li> Veg Manchurian Fried Rice </li>
          <li> Fries </li>
          <li> Chilli potato </li>
        </ol>
    </div>

    <div class="N.M.">
        <h2>Following are the list of top 5 items in North Mess. Vote for your favorite item</h2>
        <ol>
          <li> Monday Lunch </li>
          <li> Tuesday Dinner </li>
          <li> Thursday Lunch </li>
          <li> Friday Dinner </li>
          <li> Sunday Dinner </li>
        </ol>
    </div>

    <div class="S.M.">
        <h2>Following are the list of top 5 items in South Mess. Vote for your favorite item</h2>
        <ol>
          <li> Monday Dinner </li>
          <li> Tuesday Dinner </li>
          <li> Wednesday Dinner </li>
          <li> Friday Dinner </li>
          <li> Saturday Lunch </li>
        </ol>
    </div>

    <div class="K.M.">
        <h2>Following are the list of top 5 items in Kadamb Mess Vote for your favorite item</h2>
        <ol>
          <li> Monday Dinner </li>
          <li> Tuesday Dinner </li>
          <li> Wednesday Lunch </li>
          <li> Saturday Dinner </li>
          <li> Sunday Lunch </li>
        </ol>
    </div>

    <div class="Y.M.">
        <h2>Following are the list of top 5 items in Yuktahar Mess. Vote for your favorite item</h2>
        <ol>
          <li> Thursday Lunch </li>
          <li> Sunday Dinner </li>
          <li> Wednesday Lunch </li>
          <li> Tuesday Dinner </li>
          <li> Monday Lunch </li>
        </ol>
    </div>


 
















    
    
    </body>
</html>