head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width' ,='' initial-scale='1.0')
  link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  title  Food Review 
  link(rel='stylesheet' href='../css/food.css')
  script(src='../js/food.js' defer='')
label#label(for='Canteens/Mess') Choose a Canteen or a Mess:
select(name='Canteen/Mess' id='Canteens/Mess')
  option(value='VC') Vindhya Canteen
  option(value='JC') Juice Canteen
  option(value='BBC') Basketball Cantenn
  option(value='Tantra_Canteen') Tantra Canteen
  option(value='NM') North Mess
  option(value='SM') South Mess
  option(value='KM') Kadamb Mess
  option(value='YM') Yuktahar Mess
button#subbtn Submit
#VC.con
  h2 Following are the list of top 5 items in V.C. Vote for your favorite item
  ol
    li
      h3.namefood Double Chocolate Shake 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Egg Omelete 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Chicken Burger
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Cheese Potato
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Iced Tea
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
#JC.con
  h2 Following are the list of top 5 items in J.C. Vote for your favorite item
  ol
    li
      h3.namefood  Oreo Chocolate Coffee 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Lemon Soda 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Watermelon Shake 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Avocado with Honey 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Banana Horlicks 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
#BBC.con
  h2 Following are the list of top 5 items in B.B.C. Vote for your favorite item
  ol
    li
      h3.namefood  Mango Shake 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Masala Dosa 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Paneer Dosa 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Extra Masala Maggi 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Cheese Maggi 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
#Tantra_Canteen.con
  h2
    | Following are the list of top 5 items in Tantra Canteen. Vote for your favorite item
  ol
    li
      h3.namefood  Blueberry Goli Soda 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Chicken Garlic Noodles 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Veg Manchurian Fried Rice 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Fries 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Chilli potato 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
#NM.con
  h2 Following are the list of top 5 items in North Mess. Vote for your favorite item
  ol
    li
      h3.namefood  Monday Lunch 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review 
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Tuesday Dinner 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Thursday Lunch 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Friday Dinner 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Sunday Dinner 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
#SM.con
  h2 Following are the list of top 5 items in South Mess. Vote for your favorite item
  ol
    li
      h3.namefood  Monday Dinner 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Tuesday Dinner 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Wednesday Dinner 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Friday Dinner 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Saturday Lunch 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
#KM.con
  h2 Following are the list of top 5 items in Kadamb Mess Vote for your favorite item
  ol
    li
      h3.namefood  Monday Dinner 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Tuesday Dinner 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Wednesday Lunch 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Saturday Dinner 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Sunday Lunch 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
#YM.con
  h2
    | Following are the list of top 5 items in Yuktahar Mess. Vote for your favorite item
  ol
    li
      h3.namefood  Thursday Lunch 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Sunday Dinner 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Wednesday Lunch 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Tuesday Dinner 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
    li
      h3.namefood  Monday Lunch 
      h6 Rating
      p.rate 4
      input(type='number')
      p.review Review
      textarea(row='20' cols='20')
      br
      button.sendbut Send
