<html> 
    <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title> Food Review </title>
        <link rel="stylesheet" href="../css/food.css">
        <script src="../js/food.js" defer></script>

    </head>
    <body>
    <label for="Canteens/Mess" id="label">Choose a Canteen or a Mess:</label>
    <select name="Canteen/Mess" id="Canteens/Mess">
    <option value ="VC">Vindhya Canteen</option>
    <option value = "JC">Juice Canteen</option>
    <option value= "BBC">Basketball Cantenn</option>
    <option value="Tantra_Canteen">Tantra Canteen</option>
    <option value="NM">North Mess</option>
    <option value="SM">South Mess</option>
    <option value="KM">Kadamb Mess</option>
    <option value="YM">Yuktahar Mess</option>
    </select>
    <button id='subbtn'>Submit</button>
    
    <div class="con" id="VC">
        <h2>Following are the list of top 5 items in V.C. Vote for your favorite item</h2>
        <ol>

          <li> <h3 class='namefood'>Double Chocolate Shake </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number"/>  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Egg Omelete </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Chicken Burger</h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Cheese Potato</h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Iced Tea</h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
        </ol>
    </div>

    <div class="con" id="JC">
        <h2>Following are the list of top 5 items in J.C. Vote for your favorite item</h2>
        <ol>
          <li><h3 class='namefood'> Oreo Chocolate Coffee </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" /> <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button> </li>
          <li><h3 class='namefood'> Lemon Soda </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Watermelon Shake </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Avocado with Honey </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Banana Horlicks </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
        </ol>
    </div>

    <div class="con" id="BBC">
        <h2>Following are the list of top 5 items in B.B.C. Vote for your favorite item</h2>
        <ol>
          <li><h3 class='namefood'> Mango Shake </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Masala Dosa </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Paneer Dosa </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Extra Masala Maggi </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Cheese Maggi </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
        </ol>
    </div>

    <div class="con" id="Tantra_Canteen">
        <h2>Following are the list of top 5 items in Tantra Canteen. Vote for your favorite item</h2>
        <ol>
          <li><h3 class='namefood'> Blueberry Goli Soda </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Chicken Garlic Noodles </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Veg Manchurian Fried Rice </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Fries </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Chilli potato </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
        </ol>
    </div>

    <div class="con" id="NM">
        <h2>Following are the list of top 5 items in North Mess. Vote for your favorite item</h2>
        <ol>
          <li><h3 class='namefood'> Monday Lunch </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review </p>&nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Tuesday Dinner </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Thursday Lunch </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Friday Dinner </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Sunday Dinner </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
        </ol>
    </div>

    <div class="con" id="SM">
        <h2>Following are the list of top 5 items in South Mess. Vote for your favorite item</h2>
        <ol>
          <li><h3 class='namefood'> Monday Dinner </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Tuesday Dinner </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Wednesday Dinner </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Friday Dinner </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Saturday Lunch </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
        </ol>
    </div>

    <div class="con" id="KM">
        <h2>Following are the list of top 5 items in Kadamb Mess Vote for your favorite item</h2>
        <ol>
          <li><h3 class='namefood'> Monday Dinner </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Tuesday Dinner </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Wednesday Lunch </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Saturday Dinner </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Sunday Lunch </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
        </ol>
    </div>

    <div class="con" id="YM">
        <h2>Following are the list of top 5 items in Yuktahar Mess. Vote for your favorite item</h2>
        <ol>
          <li><h3 class='namefood'> Thursday Lunch </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Sunday Dinner </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Wednesday Lunch </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Tuesday Dinner </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
          <li><h3 class='namefood'> Monday Lunch </h3><h6>Rating</h6> <p class='rate'>4</p> &nbsp;<input type="number" />  <p class = 'review'>Review</p> &nbsp;<textarea row=20 cols=20></textarea></textarea><br><button class="sendbut" >Send</button></li>
        </ol>
    </div>
    </body>
</html>

