<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title> Food Review </title>
    <link href="../css/food.css"> 
</head>

<body>
    <label for="Canteens/Mess" id="label">Choose a Canteen or a Mess:</label>
    <form>
        <select name="Canteen/Mess" id="Canteens/Mess">
            <option value="V.C.">Vindhya Canteen</option>
            <option value="J.C">Juice Canteen</option>
            <option value="B.B.C">Basketball Cantenn</option>
            <option value="Tantra_Canteen">Tantra Canteen</option>
            <option value="N.M.">North Mess</option>
            <option value="S.M.">South Mess</option>
            <option value="K.M.">Kadamb Mess</option>
            <option value="Y.M.">Yuktahar Mess</option>
        </select>
        <button onclick="value()">Submit </button> 
    </form>
</body>
<script src="../js/food.js"></script>

</html>