head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width' ,='' initial-scale='1.0')
  link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  title  AVAILABILITY OF FACILITIES 
  link(rel='stylesheet' href='../css/main.css' type='text/css')
  script(src='../js/script.js' defer='')
nav
  ul#navlist
    li
      a(href='/') Home
    li
      a(href='') Login
    li
      a(href='') Hall of fame
    li
      a(href='') Contact
section#welcome
  h1#header
section#options
  .container
    #electives.butt
      button
        a(href='/electives')  Electives
    #food.butt
      button
        a(href='/food') Food
    #advisors.butt
      button
        a(href='/advisors') Advisors
footer
  h2 Copyrights by @TheBoyz
