<html> 
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title> AVAILABILITY OF FACILITIES </title>
        <link rel="stylesheet" href="../css/main.css" type="text/css">
        <script src="../js/script.js" defer></script>
    </head>
    <body>
        <nav> 
            <ul id="navlist"> 
                <li><a href="/">Home</a></li>  
                    
                <li><a href="">Login</a></li>
               <li><a href="">Hall of fame</a></li>
                <li><a href="">Contact</a></li>
                </ul>
        </nav>
        <section id="welcome"><h1 id="header"></h1></section>
             
        <section id="options">
            <div class="container">
                <div class="butt" id="electives"> 
                    <button><a href="/electives"> Electives</button> 
                </div>
                <div class="butt" id="food">
                    <button><a href="/food">Food</a> </button> 
                         
                </div>  
                <div class="butt" id="advisors"><button><a href="/advisors">Advisors</a> </button></div> 
                         
            </div>
        </section> 
        <footer> 
            <h2>Copyrights by @TheBoyz</h2> 
        </footer>
        </body> 
