<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title> AVAILABILITY OF FACILITIES </title>
        style 
            include ../css/main.css
        script(src="/js/main.js") 
    </head>
    <body>
        <nav>
            <ul id="navlist">
                <li>Home</li>
                <li>Login</li>
                <li>Hall of Fame</li>
                <li>Contact</li>
            </ul>
            img(src="https://assets-global.website-files.com/5eff9c5e4dba181f8aa2d1e0/614dfaed9cdcb08628f3b1cc_5-star-rating.jpeg")
        </nav>
        <section id="welcome">
            h1#header RATE YOUR PEEPS
        </section>
    </body>
</html>