head
  title Login form
  link(rel='stylesheet' href='../css/login.css')
h2 Sign Up 
form(name='loginform' action='/signup' method='post')
  h3 Username
  input#usr_name.input(type='text' name='Username' placeholder='Enter username')
  h3 Password
  input#password.input(type='password' name='Password' placeholder='Enter password')
  h3 Full Name
  input#FullName.input(type='text' name='FullName' placeholder='Enter Full Name')
  h3 Email
  input#Email.input(type='text' name='Email' placeholder='Enter Email')
  br
  input.submit(type='submit' value='Sign Up')